body {
    text-align: center;
    margin: 0 auto;
}



.board-container {
    max-width: 30px;

    text-align: center;
    margin: 25% auto;
    background-color: lightgray;
    margin-top: 30px;

}

button {
    width: 95px;
    height: 30px;

    background-color: lightgray;
    text-align: center;

}


table {

    text-align: center;
    background-color: lightgray;
    border-collapse: collapse;
    margin: 0 auto;

}

.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: rgb(230, 247, 247);

}

.win {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(188, 97, 41);
    text-align: center;
}

.lose {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(106, 48, 105);
    text-align: center;
}

.clickedCell {
    background-color: rgba(142, 150, 147, 0.4);
    color: red;
    font-family: "Lucida Console", "Courier New", monospace;
    border: 2px;
    border-color: black;
    border-style: solid;
}

footer{
    margin-top:50%;
    margin-right:70%;
    font: 'Arial'
}

img{
    max-width: 50px;
    max-height: 50px;
}